.image-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid red;
    img {
        height: 100%;
        width: auto;
    }

    .caption-container {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100px;
        background-color: rgba($color: #000000, $alpha: 0.4);
        padding: 10px 30px;

        h4 {
            position: absolute;
            left: 0px;
            top: -40px;
            margin: 0px;
            font-size: 3em;
            color: white;
            text-shadow: 4px 4px 6px rgba($color: #000000, $alpha: 0.5);
            padding: 4px 20px;
            font-family: 'Ranga', cursive;
        }

        p {
            color: #EEE;
            font-family: 'Varela Round', sans-serif;
            
        }
    }
}