.image-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 300px;
    img {
        @include responsive();
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4 ease;

        &.zoom {
            transform: scale(1.1);
            transform-origin: top left;
        }
    }

    .caption-container {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100px;
        background-color: rgba($color: #000000, $alpha: 0.4);
        padding: 10px 30px;

        h4 {
            position: absolute;
            left: 0px;
            top: -40px;
            margin: 0px;
            font-size: 3em;
            color: white;
            text-shadow: 4px 4px 6px rgba($color: #000000, $alpha: 0.5);
            padding: 4px 20px;
            font-family: 'Ranga', cursive;
        }

        p {
            color: #EEE;
            font-family: 'Varela Round', sans-serif;
            
        }
    }
}