.search {
    position: fixed;
    width: 100%;
    line-height: 2;
    transition: 0.4 ease;
    font-size: 2em;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #AAA;
    z-index: 1000;

    &:focus {
        box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.3);
    }
}